* {
	margin: 0px;
	padding: 0px;
}
body {
	overflow: hidden;
	position: relative;
	background-image: url(image2.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    overflow: scroll;
}
.logo {
	font-size: 60px;
	font-family: Brush Script MT;
	color : white;

}
.navigation_container{
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	padding-top: 30px;
	padding-left: 30px;
	padding-right:50px;
}
.nav {
	list-style-type: none;
	display: flex;
}
.nav li  {
	margin-right: 50px;
	font-size: 25px;
}
.nav a {
	text-decoration: none;
	font-family: Verdana;
	font-weight: bold;
	color: white;
}
.nav a:hover {
    color: sandybrown;
}

.main {
    margin: 75px 175px 50px 150px;
    justify-items:center;
    align-items: center;
}
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px 500px;
    grid-column-gap: 100px;
    grid-row-gap: 100px;
}
.item , .item1 {
    padding: 10px;
    border-radius: 2px;
    /*box-shadow: 3px 3px 7px sandybrown;*/
}
.Text:hover {
     color: sandybrown;
}
.item a , .item1 a , .item2 a {
    text-decoration: none;
}
.Text {
    font-size: 25px;
    font-family: Verdana;
	font-weight: bold;
	color: white;
    text-align: center;
    margin-top: 500px;
}
/* ///////////////////////////////////////////// Pagina pentru barbati*/
.item:first-child{
    background-image: url(download.jpg);
    overflow: visible;
    background-size: cover;
}
.item:nth-child(2)
{
    background-image: url(download1.jpg);
    overflow: visible;
    background-size: cover;
}
.item:nth-child(3)
{
    background-image: url(download2.jpg);
    overflow: visible;
    background-size: cover;
}
.item:nth-child(4)
{
    background-image: url(download3.jpg);
    overflow: visible;
    background-size: cover;
}
/* /////////////////////////////////////////////Pagina Pentru femei*/ 

.item1:first-child{
    background-image: url(download4.jpg);
    overflow: visible;
    background-size: cover;
}
.item1:nth-child(2)
{
    background-image: url(download5.png);
    overflow: visible;
    background-size: cover;
}
.item1:nth-child(3)
{
    background-image: url(download6.jpg);
    overflow: visible;
    background-size: cover;
}
.item1:nth-child(4) , .item2:nth-child(4)
{
    background-image: url(download7.jpg);
    overflow: visible;
    background-size: cover;
}

/* /////////////////////////////////////////////Pagina Pentru Copii*/ 

.item2:first-child{
    background-image: url(download8.jpg);
    overflow: visible;
    background-size: cover;
}
.item2:nth-child(2)
{
    background-image: url(download10.jpg);
    overflow: visible;
    background-size: cover;
}
.item2:nth-child(3)
{
    background-image: url(download9.jpg);
    overflow: visible;
    background-size: cover;
}
.item2:nth-child(4)
{
    background-image: url(download7.jpg);
    overflow: visible;
    background-size: cover;
}
