 * {
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	background-color: #eee
        
	}

.join_page {
	width: 300px;
	height: 320px;
	background: #fff;
	padding: 20px;
	margin: 2% auto 0;
	text-align: center;
	padding: 70px 30px;
}
.icon {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	top: -50px;
}
.log_logo{
    margin-top: 5%;
    text-align: center;
    font-family: Brush Script MT;
    font-size: 60px;
}
.log_logo a {
    text-decoration: none;
    color: black;
}
h1 {
	text-align: center;
	font-size: 30 px;
	margin: 0;
	font-family: sans-serif;
}
hr {
	width: 100%;
	margin-top: 15px;
	border-color: #0074d9;
}
.input {
	padding: 10px;
	margin: 8px 0;
	width: 80%;
	border : 1px solid black;
	border-radius: 5px;
}
button {
	color: #fff;
	padding: 10px;
	margin: 8px 0;
	width: 88%;
	border-radius: 5px;
	font-size: 15px;
	cursor: pointer;
	outline: none;
	border: none;
	opacity: 0.7;
}
button:hover{
	opacity: 1;
}

.message {
	padding: 5px;
	margin: 8px 0 0 10px;
	width: 90%;
	border : 1px solid black;
	border-radius: 5px;
	box-shadow: 2px 5px #888888;
	font-weight: bold;

}

.join_button {
	background-color: #0074d9;
}

 #validmessage {
 	padding-top: 10px;
            display: none;
            width: 100%;
            text-align: center;
             }
 #validmail {
            display: none;
 }